:root {
    --text-color: #333;

    --color-light-black: #333;
    --color-light-black2: #383838;

    --black-color: #000;
    --color-red: #fc482f;
    --color-gray: #999797;
    --white-color: #fff;
    --color-pink: #d9d1c99a;

    --color-scroll-bar: #b495769a;

    --color-modal: #9997978b;

    --color-light-white: rgba(239, 238, 238, 0.718);
    --color-light-gray: #f0f0f0;
}
