:root {
    --text-color: #333;

    --color-light-black: #333;
    --color-light-black2: #383838;
    --color-light-black3: rgb(91, 100, 113) 9a;

    --black-color: #000;
    --color-red: #fc482f;
    --color-gray: #999797;
    --white-color: #fff;
    --color-pink: #d9d1c99a;
    --color-blue: #6376f0fc;
    --color-purple: #6a5af9;

    --color-scroll-bar: #b495769a;

    --color-modal: #9997978b;

    --color-light-white: rgba(239, 238, 238, 0.718);
    --color-light-white2: #cabfb198;
    --color-light-gray: #f0f0f0;
    --color-light-blue: #e0e3f7c3;
    --color-light-blue2: #c1c4e37b;

    --siderbar-width: 400px;
}
