:root {
    --text-color: #333;
    --color-gray: #999797;
    --white-color: #fff;
    --black-color: #000;
    --color-light-white: rgba(239, 238, 238, 0.718);
    --color-light-gray: #f3f3f3;
    --color-pink: #f7f3f3;
}
