.order-status {
    font-size: 1.6rem;
    background-color: var(--color-light-blue);
    padding: 50px 0;
    color: var(--text-color);

    .order-status-wrapp {
        padding: 40px;
        border-radius: 6px;
        margin-left: auto;
        width: calc(100% - (var(--siderbar-width) + 50px));
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: var(--white-color);
        .title {
            font-size: 2.5rem;
            font-weight: 500;
            margin-bottom: 20px;
            cursor: pointer;
        }
        .order-status {
            background-color: var(--white-color);
        }
    }
}
